* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}
img{
	width: 100%;
	display: block;
}
.navbar-prop{
	border-bottom: 2px solid #FDFDFD;
	font-size: 15px;
}

.detail-info{
	width: 30%;
	padding: 20px;
	border: 2px solid #911;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #C8F7C5;
}


search-area{
	margin-bottom: 10px;
	img{
		height:500px;
	}
	h2{
		margin: 0;
		padding: 0;
	}

}
.logo-div{
	width:25%;
	margin-right: 0;

}
.etsy-logo{
	font-size: medium;
	background: #000;
	display: inline-block;
	margin-left: 0;
	margin-right: 0;
	width: 25%;

}
.logo-div{
	margin: 0;
	img{
		margin: 0;
	}
}
.search-form{
	margin-left:750px;
	margin-bottom: 10px;
}
.price-info{
	font-size: 12px;
	font-weight: 600;
}
#search-bar{
	width: 125%;
	height: 30px;
}
.img-card{
	font-size: medium;
	margin-left: 50px;
	display: inline-block;
	width: 50%;
	h4{
		font-size: 30px;
	}
	p{
		font-size: 15px;
		text-align: right;
	}
}
.detail-card{
	width: 50%;
	background-color: #C8F7C5;
	display: inline-block;
	vertical-align: top;
}
.des-info{
	width: 100%;
}
